<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all"
      href="/style.css" th:href="@{/style.css}" />
<head>
    <meta charset="UTF-8">
    <title>Anagrafica</title>
</head>
<body>
    <p>Choose the participants</p>
    <table>
        <thead>
            <tr>
                <th>USERS</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="userToChoose : ${session.users}"
                th:if="${!userToChoose.username.equals(session.user.username)}"
                th:class="${session.usersChosenUsernames!=null && session.usersChosenUsernames.contains(userToChoose.username)} ? 'userChosen'">

                <td><a th:href="@{/PrepareMeetingCreation(username=${userToChoose.username})}" th:text="${userToChoose.username}">Nome di prova</a></td>
            </tr>
            <tr>
                <td>
                    <form action="CreateMeeting" method="GET">
                        <input type="submit" value="INVITA"/>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <h5 class="errorMessage" th:if="${session.errorMessage}!=null" th:text="${session.errorMessage}">Messaggio di errore di prova</h5>
</body>
</html>