<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all"
      href="style.css" th:href="@{/style.css}" />
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<div id="id_logout">
    <a th:href="@{/Logout}">Logout</a>
</div>
<h1>Welcome to the Meeting Mamagement Home Page</h1>
<p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>


<h2>My Meetings:</h2>
<table th:if="${not #lists.isEmpty(myMeetings)}"> 
    <thead>
    <tr>
        <th>Meeting</th>
        <th>Date</th>
        <th>Starting hour</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="myMeeting : ${myMeetings}">
        <td th:text="${myMeeting.title}">title</td>
        <td th:text="${myMeeting.date}">date</td>
        <td th:text="${myMeeting.hour}">hour</td>
        <td><a th:href="@{/GetMeetingDetails(meetingId=${myMeeting.idMeeting})}">Details</a></td>
    </tr>
    </tbody>
</table>
<p th:if="${ #lists.isEmpty(myMeetings)}">No meetings yet!</p>

<h2>Others Meetings:</h2>
<table th:if="${not #lists.isEmpty(othersMeetings)}">
    <thead>
    <tr>
        <th>Meeting</th>
        <th>Date</th>
        <th>Starting hour</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="othersMeeting : ${othersMeetings}">
        <td th:text="${othersMeeting.title}">title</td>
        <td th:text="${othersMeeting.date}">date</td>
        <td th:text="${othersMeeting.hour}">hour</td>
        <td><a th:href="@{/GetMeetingDetails(meetingId=${othersMeeting.idMeeting})}">Details</a></td>
    </tr>
    </tbody>
</table>
<p th:if="${ #lists.isEmpty(othersMeetings)}">No meetings yet!</p>

<div>
    <h2>Create Meeting:</h2>
    <p>Complete the form to create a meeting</p>
    <form action="#" th:action="@{/GetUsers}" method="POST">
        <fieldset>
            <p>
                Title: <input type="text" name="title" required />
            </p>
            <p>
                Date: <input type="date" name="date"
                             th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                             placeholder="yyyy-mm-dd" required />
            </p>
            <p>
                Hour: <input type="time" name="hour" required />
            </p>
            <p>
                Duration in minutes: <input type="number" name="duration" required min="0"/>
            </p>
            <p>
                Maximum number of participants <input type="number" name="maxParticipantsNumber" required min="0"/>
            </p>
            <input type="submit" name="INVIA">
        </fieldset>
    </form>
    <br>
    <h3 class="errorMessage"
        th:if="${errorMessage!=null}" th:text="${errorMessage}">

        Errore nel caso non si inseriscono tutti i parametri</h3>
</div>

</body>
</html>