<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all"
	  href="style.css" th:href="@{/style.css}" />
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
</head>
<body>
	<h1>Welcome to the meeting management application</h1>

	<form action="CheckLogin" method="POST">
		Username: <input type="text" name="username" required> <br>
		Password: <input type="password" name="password" required><br>
		<input type="submit" value="login">
		<p class="errorMessage" th:text=" ${errorMessage}"></p>
	</form>

</body>
</html>