<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all"
      href="/style.css" th:href="@{/style.css}" />
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<div align="right">
    <a th:href="@{/Logout}">Logout</a>
</div>

<h2>Meeting selected:</h2>

    <h3>Title: </h3><p th:text="${meeting.title}"></p>
    <h3>Date: </h3><p th:text="${meeting.date}"></p>
    <h3>Hour: </h3><p th:text="${meeting.hour}"></p>
    <h3>Duration: </h3><p th:text="${meeting.duration}"></p>
    <h3>Patecipants: </h3><p th:text="${meeting.maxParticipantsNumber}"></p>

</body>
</html>