
.userChosen {
    fill: coral;
    background-color: aquamarine;
}

.errorMessage, .boldRed {
    color: red;
    font-weight: bold;
}

.detailSelected {
    background-color: gray;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.left {
    margin-right: 2%;
    width: 48%;
    float: left;
}

.right {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 48%;
    float: right;
}

#id_logout {
    margin-right: 2%;
    float: right;
}