
.userChosen {
    background-color: lightgreen;
}

.errorMessage, .boldRed {
    color: red;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#id_logout {
    margin-right: 2%;
    float: right;
}