table, td, th {
    border: 1px solid black;
    text-align: center;
}

.userChosen {
    fill: coral;
    background-color: aquamarine;
}

.errorMessage, .boldRed {
    color: red;
    font-weight: bold;
}

.right {
    margin-right: 5%;
}